.button-container {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}
.btn-success {
  background-color: #4bb543;
}
.btn-error {
  background-color: #f83939;
}
.btn-primary {
  background-color: #2196f3; /* Green */
}
